.swiper-button-prev {
  color: #e9e2e2 !important;
}
.swiper-wrapper {
  padding-top: 45px;
}

.swiper-button-next {
  color: #e9e2e2 !important;
}
.aspect {
  position: relative !important;
  margin-top: 0px;
}
.css-cdo35n::before {
  padding-bottom: 3% !important;
}
